    *,
    h1,
    a,
    li {
        margin: 0;
        text-decoration: none;
        list-style-type: none;
    }
    
    .all_section {
        display: flex;
        justify-content: center;
        max-width: 1280px;
    }
    
    .container {
        width: 75.76vw;
        height: 100%;
    }
    /* DOUBLE CLASS AND HOVER FOR BUTTON*/
    
    .btn__wrap-all {
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #292929;
        border-radius: 100px;
        outline: none;
        cursor: pointer;
        border: 2px solid #F1CDB3;
    }
    
    .btn__slider-ctrl {
        width: 52px;
        height: 52px;
        border: 2px solid #F1CDB3;
        box-sizing: border-box;
        border-radius: 100px;
        background-color: #FFFFFF;
        background-repeat: no-repeat;
        background-position: center;
        outline: none;
    }
    
    .btn__wrap-main-our {
        background: #F1CDB3;
    }
    
    .btn__wrap-main-our:hover {
        background: #FDDCC4;
    }
    /* DOUBLE CLASS AND HOVER FOR BUTTON*/
    /* START HEADER */
    
    .wrap__header {
        display: flex;
        justify-content: center;
    }
    
    .wrap__header-main {
        background-image: url(../../assets/image/header-main-gradient-background.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .header__logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 61px 5px 0 0px;
    }
    
    .header__logo-title {
        padding-bottom: 9px;
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 110%;
        letter-spacing: 0.06em;
        color: #F1CDB3;
    }
    
    .header__logo-subtitle {
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.1em;
        color: #FFFFFF;
    }
    
    .header__navbar {
        display: flex;
        justify-content: end;
        padding: 76px 0 0 490px;
    }
    
    .header__navbar-items {
        display: flex;
        justify-content: end;
    }
    
    .header__navbar-item-link {
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 160%;
        color: #CDCDCD;
        margin: 0px 0px 0 36px;
        padding-bottom: 4px;
    }
    
    .header__link-active {
        border-bottom: 3px #F1CDB3 solid;
        color: #FAFAFA;
    }
    
    .header__navbar-item-link:active {
        border-bottom: 3px solid #F1CDB3;
    }
    
    .header__navbar-item-link:hover {
        color: #FAFAFA;
    }
    /* END HEADER */
    /* START MAIN */
    
    .wrap__main {
        display: flex;
        margin-top: 60px;
    }
    
    .main__content {
        display: flex;
        flex-direction: column;
        width: 460px;
        height: 321px;
        margin: 165px 0 0 5px;
    }
    
    .main__content-title {
        width: 310px;
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 44px;
        line-height: 130%;
        color: #FFFFFF;
    }
    
    .main__content-discription {
        padding: 42px 0 41px 0;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 160%;
        color: #CDCDCD;
    }
    
    .main__content-button {
        width: 207px;
        height: 52px;
    }
    
    .main__image {
        padding: 0px 0 0 42px;
        width: 698px;
        height: 728px;
    }
    /* END MAIN */
    /* START ABOUT SECTION */
    
    .wrap__about {
        display: flex;
        justify-content: start;
        margin: 80px 0 100px 210px;
    }
    
    .about__content {
        display: flex;
        flex-direction: column;
        width: 430px;
        height: 380px;
        margin: 15px 0 0 125px;
    }
    
    .about__content-title {
        width: 370px;
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #545454;
    }
    
    .about__content-discription {
        margin-top: 25px;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 160%;
        color: #4C4C4C;
    }
    /* END ABOUT SECTION */
    /* START PETS SECTION */
    
    .pets {
        background: #F6F6F6;
    }
    
    .wrap__pets {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .pets__title {
        margin: 80px 0 60px 0;
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 35px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.06em;
        color: #545454;
        width: 400px;
    }
    
    .pets__slider-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .pets__slider-control-left {
        border: 2px solid #CDCDCD;
        background-image: url(../../assets/icon/Arrow-left.svg);
    }
    
    .pets__slider-control-right {
        background-image: url(../../assets/icon/Arrow-right.svg);
    }
    
    .pets__slider-control-right:hover {
        background: #FDDCC4;
        background-image: url(../../assets/icon/Arrow-right.svg);
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    
    .pets__slider-cards-items {
        display: flex;
        padding: 0 8px;
    }
    
    .pets__slider-cards-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 45px;
        height: 435px;
        background: #FAFAFA;
        border-radius: 9px;
    }
    
    .pets__slider-cards-item:hover {
        background: #FFFFFF;
        cursor: pointer;
        transform: scale(1.1);
    }
    
    .pets__slider-cards-item-name {
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.06em;
        color: #545454;
        padding: 30px 0 30px 0;
    }
    
    .pets__slider-cards-item-button {
        width: 187px;
        height: 52px;
        background: #FAFAFA;
    }
    
    .pets__slider-cards-item-button:hover {
        background: #FDDCC4;
    }
    
    .pets__button {
        margin: 60px 0 100px 0;
        width: 261px;
        height: 52px;
        background: #F1CDB3;
    }
    
    .pets__button:hover {
        background: #FAFAFA;
    }
    /* END PETS SECTION */
    /* START HELP SECTION */
    
    .wrap__help {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .help__title {
        padding: 80px 0 60px 0;
        width: 408px;
        height: 90px;
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 35px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.06em;
        color: #545454;
    }
    
    .help__options {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        max-width: 1030px;
        height: 281px;
        margin-bottom: 100px;
    }
    
    .help__options-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .help__options-item:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
    
    .help__options-item:nth-child(1),
    .help__options-item:nth-child(2),
    .help__options-item:nth-child(3) {
        padding-right: 120px;
    }
    
    .help__options-item:nth-child(5) {
        padding-left: 117px;
    }
    
    .help__options-item:nth-child(6) {
        padding: 55px 120px 0 82px;
    }
    
    .help__options-item:nth-child(7) {
        padding: 52px 120px 0 0;
    }
    
    .help__options-item:nth-child(8) {
        padding: 55px 120px 0 0;
    }
    
    .help__options-item:nth-child(9) {
        padding-top: 50px;
    }
    
    .help__options-item-image {
        padding-bottom: 30px;
    }
    
    .help__options-item-discription {
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 115%;
        text-align: center;
        letter-spacing: 0.06em;
        color: #545454;
    }
    /* END HELP SECTION */
    /* START DONATION SECTION */
    
    .donation {
        background: #F6F6F6;
    }
    
    .wrap__donation {
        display: flex;
        justify-content: start;
        /* padding: 82px 0 111px 142px; */
    }
    
    .donation__image {
        padding: 90px 0 111px 150px;
    }
    
    .donation__content {
        padding: 82px 0 0 28px;
    }
    
    .donation__content-title {
        width: 300px;
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #545454;
    }
    
    .donation__content-subtitle {
        padding: 20px 0;
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 110%;
        letter-spacing: 0.06em;
        color: #545454;
    }
    
    .donation__content-bank-account {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 349px;
        height: 43px;
        background: #F1CDB3;
        border-radius: 9px;
    }
    
    .donation__content-bank-account-link {
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #545454;
    }
    
    .donation__content-bank-account-link:hover {
        transform: scale(1.1);
    }
    
    .donation__content-bank-account-image:hover {
        transform: scale(1.1);
    }
    
    .donation__content-discription {
        padding-top: 20px;
        width: 380px;
        font-family: Arial;
        font-style: italic;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: #B2B2B2;
    }
    /* END DONATION  SECTION */